ul{
  list-style: none
}
table {
  width: 100%;
}
#value-header{
  padding-left:40px;
}
#td-value{
  padding-left: 40px;
}
.full-width{
  width:100%;
}
.fa-truck{
padding-right: 20px;
}
.fa-shipping-fast{
  padding-right: 20px;
  }
.fa-car{
  padding-right: 20px;
}
