<div class="container-fluid">
  <div class="row">
      <div class="card-group">
          <div class="card text-center">
            <img class="card-img-top" src="../../assets/images/pic1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Duvet</h5>
              <button type="button" class="btn btn-outline-dark">View More</button>
            </div>

          </div>
          <div class="card text-center">
            <img class="card-img-top" src="../../assets/images/pic2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Towels

              </h5>
              <button type="button" class="btn btn-outline-dark">View More</button>
            </div>

          </div>
          <div class="card text-center">
            <img class="card-img-top" src="../../assets/images/pic3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Blankets/Throws</h5>
              <button type="button" class="btn btn-outline-dark">View More</button>
            </div>

          </div>
          <div class="card text-center">
            <img class="card-img-top" src="../../assets/images/pic4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pillows</h5>
              <button type="button" class="btn btn-outline-dark">View More</button>
            </div>

          </div>
          <div class="card text-center">
            <img class="card-img-top" src="../../assets/images/pic5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bath/Floor Matts</h5>
              <button type="button" class="btn btn-outline-dark">View More</button>
            </div>

          </div>
        </div>
  </div>
</div>
