<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-grid-list cols="5" rowHeight="4:1" class="border">
        <mat-grid-tile class="small-fonts">Free Delivery</mat-grid-tile>
        <mat-grid-tile class="small-fonts">Price Match Promise</mat-grid-tile>
        <mat-grid-tile class="small-fonts">Hotel and Business</mat-grid-tile>
        <mat-grid-tile class="small-fonts">365 Day Returns</mat-grid-tile>
        <mat-grid-tile class="small-fonts">Retail Buy</mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>
