.container{

  background: #FAFAFA;
}
.container-fluid{
  padding-right: 100px;
    padding-left: 100px;
    /* padding-top: 40px; */
}

.feature-card{
  background: #FAFAFA;

}
.card{
  height: 350px;

}

.img{
  height: 350px;
  background: url('../../../../assets/images/background.jpg');


}
