.container{

  background: #FAFAFA;
}
.container-fluid{
  padding-right: 100px;
    padding-left: 100px;
    /* padding-top: 40px; */
}

.feature-card{
  background: #FAFAFA;

}
.card{
  height: 350px;
  width: 18rem;

}

.img{
  height: 350px;
  background: url('../../../../assets/images/background.jpg');


}

@media screen  and (max-width: 812px) {
  .container-fluid{
    padding-right: 20px;
      padding-left: 20px;
      /* padding-top: 40px; */
  }

}

@media screen and (min-width: 780px) and (max-width: 900px){
  .card-body{
    padding: 0.25rem;
  }
}
