<div class="container-fluid">


  <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Featured">
        <div class="row" >
         <div class=" col-sm-6 col-xs-12 col-md-3">
            <mat-card class="example-card">
                <mat-card-header>

                  <mat-card-title>ELLIE DUVET SET</mat-card-title>
                  <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                </mat-card-header>
                <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                      Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                  </p>

                </mat-card-content>

                  <mat-card-actions>
                      <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                </mat-card-actions>

              </mat-card>
         </div>
         <div class="col-sm-6 col-xs-12 col-md-3">
            <mat-card class="example-card">
                <mat-card-header>

                  <mat-card-title>ELLIE DUVET SET</mat-card-title>
                  <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                </mat-card-header>
                <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                      Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                  </p>

                </mat-card-content>

                  <mat-card-actions>
                      <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                </mat-card-actions>

              </mat-card>
         </div>
         <div class="col-sm-6 col-xs-12 col-md-3">
            <mat-card class="example-card">
                <mat-card-header>

                  <mat-card-title>ELLIE DUVET SET</mat-card-title>
                  <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                </mat-card-header>
                <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                      Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                  </p>

                </mat-card-content>

                  <mat-card-actions>
                      <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                </mat-card-actions>

              </mat-card>
         </div>
         <div class="col-sm-6 col-xs-12 col-md-3">
            <mat-card class="example-card">
                <mat-card-header>

                  <mat-card-title>ELLIE DUVET SET</mat-card-title>
                  <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                </mat-card-header>
                <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                      Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                  </p>

                </mat-card-content>

                  <mat-card-actions>
                      <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                </mat-card-actions>

              </mat-card>
         </div>
      </div>
    </mat-tab>
      <mat-tab label="New Arrivals">

          <div class="row" >
              <div class=" col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
           </div>
      </mat-tab>
      <mat-tab label="Best Sellers">

          <div class="row" >
              <div class=" col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-3">
                 <mat-card class="example-card">
                     <mat-card-header>

                       <mat-card-title>ELLIE DUVET SET</mat-card-title>
                       <mat-card-subtitle><h5>$14</h5></mat-card-subtitle>
                     </mat-card-header>
                     <img class="" mat-card-image src="../../../../assets/images/product1.jpg"  height="200px" alt="Photo of a Shiba Inu">
                     <mat-card-content>
                       <p>
                           Plum Ellie Luxury Quilt  Duvet Cover , Quilt Cover Bedding Set , with Pillow Cases Single
                       </p>

                     </mat-card-content>

                       <mat-card-actions>
                           <button class="btn btn-outline-dark btn-block" color="primary">Add to Cart</button>
                     </mat-card-actions>

                   </mat-card>
              </div>
           </div>
      </mat-tab>
    </mat-tab-group>






</div>
