.container-fluid {
	background: #f2f2f2;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 40px;
}
img {
	height: 200px;
}
.card {
	margin: 20px;
  height: auto;
  width: auto;
}
.btn {
	border-radius: 0;
}

.example-card {
  max-width: 400px;


}
.row{
       margin-right: 0px;
}
