<div class="show" href="1.jpg">

      <img src="../../../../assets/images/g1.jpg" id="show-img">

    </div>
    <div class="small-img">

          <img src="../../../../assets/images/right_arrow.png" class="icon-left" alt="" id="prev-img">

          <div class="small-container">

            <div id="small-img-roll">

              <img src="../../../../assets/images/g1.jpg" class="show-small-img" alt="">

              <img src="../../../../assets/images/g2.jpg" class="show-small-img" alt="">

              <img src="../../../../assets/images/g3.jpg" class="show-small-img" alt="">

              <img src="../../../../assets/images/g4.jpg" class="show-small-img" alt="">

              <img src="../../../../assets/images/g5.jpg" class="show-small-img" alt="">
            </div>

          </div>

          <img src="../../../../assets/images/right_arrow.png" class="icon-right" alt="" id="next-img">

        </div>
