<div class="container-fluid" >
  <div class="row">
          <div class="col-12">
              <mat-expansion-panel expanded =true class="filter-accord">
                  <mat-expansion-panel-header>
                    Sizes
                  </mat-expansion-panel-header>

                  <mat-list >
                      <mat-list-item> <mat-checkbox formControlName="Single">Single</mat-checkbox> </mat-list-item>
                      <mat-list-item> <mat-checkbox formControlName="Double">Double</mat-checkbox> </mat-list-item>
                      <mat-list-item> <mat-checkbox formControlName="King">King</mat-checkbox> </mat-list-item>
                      <mat-list-item> <mat-checkbox formControlName="SuperKing">SuperKing</mat-checkbox> </mat-list-item>
                  </mat-list>

               </mat-expansion-panel>



          <mat-expansion-panel expanded =true class="filter-accord">
              <mat-expansion-panel-header success>
                Colors
              </mat-expansion-panel-header >

              <button mat-mini-fab style="background-color: plum ;  margin-right: 10px" ></button>
              <button mat-mini-fab style="background-color: rgb(160, 194, 221)  ;  margin-right: 10px"></button>
              <button mat-mini-fab style="background-color: rgb(221, 184, 160)  ;  margin-right: 10px"></button>
              <button mat-mini-fab style="background-color: rgb(160, 221, 185)  ;  margin-right: 10px"></button>
              <mat-list >
                  <mat-list-item> <mat-checkbox formControlName="Green">Green</mat-checkbox> </mat-list-item>
                  <mat-list-item> <mat-checkbox formControlName="Red">Red</mat-checkbox> </mat-list-item>
                  <mat-list-item> <mat-checkbox formControlName="Blue">blue</mat-checkbox> </mat-list-item>
                  <mat-list-item> <mat-checkbox formControlName="Pink">Pink</mat-checkbox> </mat-list-item>
              </mat-list>

          </mat-expansion-panel>


      <mat-expansion-panel expanded =true class="filter-accord">
          <mat-expansion-panel-header>
            Categories
          </mat-expansion-panel-header>


          <mat-list >
              <mat-list-item> <mat-checkbox formControlName="Bedsheet&Duvetcovers">Bedsheet&Duvetcovers</mat-checkbox> </mat-list-item>
              <mat-list-item> <mat-checkbox formControlName="Towels">Towels</mat-checkbox> </mat-list-item>
              <mat-list-item> <mat-checkbox formControlName="Bath/Floor Matts">Bath/Floor Matts</mat-checkbox> </mat-list-item>
              <mat-list-item> <mat-checkbox formControlName="Pillows">Pillows</mat-checkbox> </mat-list-item>
          </mat-list>

      </mat-expansion-panel>
</div>
</div>



</div>
