<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center blog-head">Blog</h1>
    </div>

  </div>

 <div class="row">
    <div class="container">
        <div class="card border-0">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="../../../../assets/images/blog1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8">
                    <div class="card-block px-2">
                        <h4 class="card-title">blog title</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum <a href="#">read more ...</a>.</p>

                    </div>
                </div>
            </div>

        </div>

        <div class="card border-0">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="../../../../assets/images/blog2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8">
                    <div class="card-block px-2">
                        <h4 class="card-title">blog title</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum <a href="#">read more ...</a>.</p>

                    </div>
                </div>
            </div>

        </div>

        <div class="card border-0">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="../../../../assets/images/blog3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8">
                    <div class="card-block px-2">
                        <h4 class="card-title">blog title</h4>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum <a href="#">read more ...</a>.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

 </div>
</div>
