<div  class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-4 text-center">
            <ul>
              <li><b>Our Address</b></li>
              <hr width="40%">
              <p>Heimtex GmbH<br>
                  Vahrenwalder Str. 213<br>
                  30165 Hannover<br>
                  Germany</p>
            </ul>
          </div>
          <div class="col-4 text-center">
              <ul>
                  <li><b>Learn More</b></li>
                  <hr width="40%">
                  <li><a>Contact Us</a></li>
                  <li><a>About Us</a></li>
                  <li>Blog</li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <ul>
                    <li><b>Legal Information</b></li>
                    <hr width="40%">
                    <li>Return Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Security & Privacy</li>
                  </ul>
              </div>
        </div>
      </div>
    </div>
  </div>

